.browsePage {
    width: 100%;
    min-height: 100vh;
    background-color: #d8f3ef;
    padding: 24px;
    box-sizing: border-box;
}

.proposalPreviewGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;

    width: 100%;
    align-items: start;
}

.browsePageHeader {
    margin-bottom: 30px;
}

.browsePageHeader h1 {
    font-family: Verdana;
    color: #3a6d5a;
    font-weight: 600;
    font-size: 30px;
}

.browsePageNoResults {
    margin-top: 24px;
    color: #315d4d;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 500;
}
