body {
        font-family: 'Atkinson Hyperlegible', Arial;
}

.authContainer {
        height: 100%;
        width: 80%;
        padding: 20px;
        background-color: cornflowerblue;
        border: 2px solid black;
        border-radius: 15px;
}
.authContainerTitle {
        background-color: coral;
        width: fit-content;
        margin: 5px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
}

.authForm {
        width: 40%;
        margin-top: 20px;
        padding: 10px;
        background-color: coral;
        border: 2px solid black;
        border-radius: 15px;
}

.authInput {
        margin: 5px;
}

.authInput input {
        background-color: rgb(222, 222, 222);
        margin-left: 10px;
}

.loginButton, .registerButton {
        background-color: darkseagreen;
        border-radius: 5px;
}

.loginButton {
        margin: 5px;
}

.registerButton {
        margin: 10px auto;
}

.registerButtonContainer {
        height: 100%;
        width: 80%;
        margin-top: 20px;
        padding: 20px;
        background-color: coral;
        border: 2px solid black;
        border-radius: 15px;
        align-items: center;
}