.proposalPreview{
    width: 100%;
}
.proposalPreviewHeader{
    width: 100%;
}
.distEvenHorizontalBox{
    width: 100%;
}
.proposalPreviewHeaderText{
    width: 100%;
}
.proposalPreviewImage{
    width: 100%;
}
.proposalPreviewIcon{
    width: 100%;
}