.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px 24px;
    box-sizing: border-box;
    background-color: #87bd93;
    border-bottom: 3px solid #317a51;
  }
  
  .navBarLink {
    color: #1e5d2d;
    font-family: Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
  }