.navBar {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  padding: 16px 24px;
  box-sizing: border-box;
  background-color: #87bd93;
  border-bottom: 3px solid #317a51;
}

.navBarR {
  margin-left: auto;
}
  
.navBarLink {
  color: #1e5d2d;
  font-family: Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.activeNavBarLink {
  color: #784490;
  font-family: Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.logoutButton {
	color: #1e5d2d;
	font-family: Verdana, sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
